@{
    ViewBag.Title = "Contact";
}

<address>
    A-solution<br />
    PA USA<br />
    <abbr title="Phone">P:</abbr>
    304.906.6251
</address>

<address>
    <strong>Linked:</strong> <a href="http://www.linkedin.com/in/alfred-udah-5472a093" </a> Alfred Udah </><br />
   <img src="@Url.Content("~/Photos/3.jpg")" alt="Hi this is Alfred" style="width:800px; height: 400px; border: ridge"/>
</address>