@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to Asolution Dash</h1>
    <p class="lead">Our business is to find solution to projects.</p>
    <!--  <p><a href="https://asp.net" class="btn btn-primary btn-lg">Text Learn more &raquo;</a></p> -->
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Fused Deposition Modeling</h2>
        <p>
            <ul>
                <li>
                    Fused deposition printing and modeling service.
                </li>
                <li>
                    Modeling and printing prototype.
                </li>
            </ul>

        </p>
        <!-- <p><a class="btn btn-default" href="https://www.linkedin.com/in/alfred-udah-5472a093">Alfred Linked &raquo;</a></p>
            #TODO
            add pictures and videos of FDM printing example projects
            -->
    </div>
    <div class="col-md-4">
        <h2>Database Dashboard</h2>
        <p>
            <ul>
                <li>Create, Insert, Update, Delete and Select.</li>
                <li>A simple graphic user interferes for data lookup.</li>
                <li>Generate reports from dataset.</li>
                <li>Statistical analysis on data.</li>
            </ul>
        </p>
        <!-- <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        #TODO
           add pictures and videos of FDM printing example projects
           -->
    </div>
    <div class="col-md-4">
        <h2>Window Desktop Application</h2>
        <p>
            <ul>
                <li>Signal process with a DAQ instrument. </li>
                <li>Electronic devices control. </li>
                <li>Machine control. </li>
                <li>Automatic excel report generator. </li>
                <li>Data extraction structured/unstructured. </li>
            </ul>

        </p>
        <!-- <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        #TODO
           add pictures and videos of FDM printing example projects

              -->
    </div>

</div>
